.main {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    gap: 72px;
    top: 28px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--white);
    z-index: 500;
    background: var(--black);
    box-shadow: 0px 0px 20px 3px var(--white);
}